* {
    
    /* background-color: brown; */
  




}

.menu {
    color: black;
}

.indexbg {
    background-image: url("_\ \(3\).jpeg");
}

.page2bg {
    background-image: url("_ (4).jpeg");
}

p {
    background-color: rgba(128, 128, 128, 0.85);
    font-size: 30px
}

h1 {color: blue;
text-align: center;
font-size:30px;
}

body {color:orange;
    background-image: url
    
}
h2,p {color: orange;
    text-align: center;
   
}

.pg3bg {
   background-image: url("image9.jpeg");

   
   /*  */


  .page2 {
      background-image: url("painting1.jpeg");
      ;
      background-size: cover;
      
  }     