* {
    
    /* background-color: brown; */
  
}

.indexbg {
    background-image: url("_\ \(13\).jpeg");
}

.page2bg {
    background-image: url("_ (4).jpeg");
}

p {background-color: ;
    font-size: 30px
}

h1 {color: blue;
text-align: center
}
font-size:30px;
}

body {color:orange;
}
h2,p {color: orange;
    text-align: center
    }
    font-size:16px;